@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    font-family: Righteous, Monospace;
}

/* navigation section */

nav {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 40%;
    background-color: #FD7266;
}

main {
    position: absolute;
    width: 60%;
    top: 0;
    left: 0;
    background-color: #8252C6;
}