@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    font-family: Righteous, Monospace;
}

/* navigation section */

nav {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 40%;
    background-color: #FD7266;
}

.navigation-items {
    list-style-type: none;
    font-size: 80px;
    color: white;
}

.navigation-items a {
    text-decoration: inherit;
    color: inherit;
}

.navigation-items a:hover {
    text-decoration: underline;
}

.social-links {
    display: inline-block;
    margin-left: 50px;
}

.social-links a {
    margin-right: 20px;
}


/* Main section RHS */

main {
    position: absolute;
    width: 60%;
    top: 0;
    left: 0;
    background-color: #8252C6;
}

/* Logo styling */

.logo-container {
    height: 200px;
    margin: 30px 40px;
}

#logo-black {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    background-color: #000000;
    vertical-align: middle;
    transition: 
        margin-left 1s;
}

#logo-black:hover {
    margin-left: -20px;
}

#logo-red {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    background-color: #F04F2A;
    vertical-align: middle;
    margin-left: -25px;
    transition: 
        margin-left 1s;
}

#logo-red:hover {
    margin-left: -5px;
}

#logo-blue {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    background-color: #2ABDFB;
    vertical-align: middle;
    margin-left: -50px;
    transition: 
        margin-left 1s;
}

#logo-blue:hover {
    margin-left: -75px;
}

#logo-green {
    height: 125px;
    width: 125px;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    background-color: #29CE85;
    vertical-align: middle;
    margin-left: -75px;
    transition: 
        margin-left 1s;
}

#logo-green:hover {
    margin-left: -55px;
}

#logo-image {
    display: inline-block;
    vertical-align: middle;
    margin-left: -100px;
    position: relative;
}

#logo-image img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    transition:
        rotate 1s;
}

#logo-image img:hover {
    rotate: 360deg;
}

/* About me section */
.about-me-container {
    margin: 30px 40px;
    color: white;
}

.about-me-container button { 
    background:none; 
    border:none; 
    font-family: Righteous, Monospace;
    color: white;
    text-decoration: underline;
}

.about-me-container h5 {
    display: inline;
}

/* Projects section */
.projects-container {
    margin: 150px 40px;
    color: white;
}

.projects-container div {
    display: inline-block;
    border: solid 1px black;
    margin-right: 40px; 
    background-color: white;
    color: black;
    padding: 5px 20px 5px 20px;
}

.projects-container img {
    height: 150px;
    width: 150px;
    margin: 0 auto;
}

/* Skills section */
.skills-container {
    margin: 150px 40px;
    color: white;
}

/* Contact section */
.contact-container {
    margin: 150px 40px;
    color: white;
}
