@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    font-family: Righteous, Monospace;
}

html {
    font-size: 18px;
  }

/* navigation section */

nav {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 40%;
    background-color: #FD7266;
}

.navigation-items {
    list-style-type: none;
    font-size: 4.5rem;
    color: white;
}

.navigation-items a {
    text-decoration: inherit;
    color: inherit;
}

.navigation-items a:hover {
    text-decoration: underline;
}

.social-links {
    display: inline-block;
    margin-left: 2.8rem;
}

.social-links a {
    margin-right: 1.1rem;
}


/* Main section RHS */

main {
    position: absolute;
    width: 60%;
    top: 0;
    left: 0;
    background-color: #8252C6;
}

/* Logo styling */

.logo-container {
    height: 11rem;
    margin: 1.7rem 2.2rem;
}

#logo-black {
    height: 2.8rem;
    width: 2.8rem;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    background-color: #000000;
    vertical-align: middle;
    transition: 
        margin-left 1s;
}

#logo-black:hover {
    margin-left: -1.1rem;
}

#logo-red {
    height: 4.2rem;
    width: 4.2rem;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    background-color: #F04F2A;
    vertical-align: middle;
    margin-left: -1.4rem;
    transition: 
        margin-left 1s;
}

#logo-red:hover {
    margin-left: -0.3px;
}

#logo-blue {
    height: 5.6rem;
    width: 5.6rem;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    background-color: #2ABDFB;
    vertical-align: middle;
    margin-left: -2.8rem;
    transition: 
        margin-left 1s;
}

#logo-blue:hover {
    margin-left: -4.2rem;
}

#logo-green {
    height: 6.9rem;
    width: 6.9rem;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    background-color: #29CE85;
    vertical-align: middle;
    margin-left: -4.2rem;
    transition: 
        margin-left 1s;
}

#logo-green:hover {
    margin-left: -3.1rem;
}

#logo-image {
    display: inline-block;
    vertical-align: middle;
    margin-left: -5.6rem;
    position: relative;
}

#logo-image img {
    height: 8.3rem;
    width: 8.3rem;
    border-radius: 50%;
    transition:
        rotate 1s;
}

#logo-image img:hover {
    rotate: 360deg;
}

/* About me section */
.about-me-container {
    margin: 1.7rem 2.2rem;
    color: white;
}

.about-me-container button { 
    background:none; 
    border:none; 
    font-family: Righteous, Monospace;
    color: white;
    text-decoration: underline;
}

.about-me-container h5 {
    display: inline;
}

/* Projects section */
.projects-container {
    margin: 8.3rem 2.2rem;
    color: white;
}

.projects-container div {
    display: inline-block;
    border: solid 1px black;
    margin-right: 2.2rem; 
    background-color: white;
    color: black;
    padding: 0.3rem 1.7rem;
}

.projects-container img {
    height: 8.3rem;
    width: 8.3rem;
    margin: 0 auto;
}

/* Skills section */
.skills-container {
    margin: 8.3rem 2.2rem;
    color: white;
}

/* Contact section */
.contact-container {
    margin: 8.3rem 2.2rem;
    color: white;
}

/* Screen sizes 414px - 768px (tablets) */

